language: bash

sudo: required

services:
  - docker

env:
  global:
    - DOCKER_TAG=fermadeiral/test-evolve-bears:latest

script:
  - if [ "$TRAVIS_PULL_REQUEST" != "false" ]; then
      echo "It is a PR."
      docker pull "$DOCKER_TAG";
      docker run --name "$TRAVIS_PULL_REQUEST_BRANCH" --mount type=bind,source="$(pwd)",target=/var/app/pr --env BRANCH_NAME="$TRAVIS_PULL_REQUEST_BRANCH" "$DOCKER_TAG";
      exit $(docker inspect "$TRAVIS_PULL_REQUEST_BRANCH" --format='{{.State.ExitCode}}');
    fi

after_success:
  - echo "Everything is ok."

branches:
  - only:
    - pr-add-bug

