language: bash

sudo: required

services:
  - docker

env:
  global:
    - DOCKER_TAG=fermadeiral/test-evolve-bears:latest

before_script:
  - chmod +x check_pr/travis-run.sh

script:
  - if [ "$TRAVIS_PULL_REQUEST" = "true" ]; then
      echo "It is a PR."
      docker pull "$DOCKER_TAG";
      docker run --name test -v ${pwd}:/var/app/pr "$DOCKER_TAG";
      docker ps;
    fi

after_success:
  - echo "Everything is ok."

branches:
  - only:
    - pr-add-bug

