language: bash

sudo: required

services:
  - docker

env:
  global:
    - DOCKER_TAG=fermadeiral/test-evolve-bears:latest

script:
  - if [ "$TRAVIS_PULL_REQUEST" != "false" ]; then
      echo "It is a PR.";
      docker pull "$DOCKER_TAG";
      docker run --name "$TRAVIS_PULL_REQUEST_BRANCH" --mount type=bind,source="$(pwd)",target=/var/app/pr --env BRANCH_NAME="$TRAVIS_PULL_REQUEST_BRANCH" "$DOCKER_TAG";
      exit $(docker inspect "$TRAVIS_PULL_REQUEST_BRANCH" --format='{{.State.ExitCode}}');
    else
      echo "Travis commit message - $TRAVIS_COMMIT_MESSAGE";
      COMMIT_MESSAGE_PATTERN="Merge pull request";
      if [[ "$TRAVIS_COMMIT_MESSAGE" == "$COMMIT_MESSAGE_PATTERN"* ]]; then
        echo "A PR is being merged.";
        NEW_BRANCH_NAME="AAA";
        echo "New branch name - $NEW_BRANCH_NAME";
        git remote -v;
        git branch "$NEW_BRANCH_NAME";
        git push -f "$NEW_BRANCH_NAME" HEAD:pr-add-bug;
      fi
    fi

after_success:
  - echo "Everything is ok."

branches:
  - only:
    - pr-add-bug

